.logo{
    height: 60px;
}
.body{
    background-color: #242526;
}

.carta>img{
width: 50%;
height: 100%;
border-radius: 20px;

}


.carta{
    background-color: #303134;
    width: 60%;
    height: 100%;
    margin-left: 10%;
    margin-top: 6%;
    border-radius: 20px;
    
}
.card{
    font-size: xx-large;
    box-shadow: 1px 1px 8px 2px #9b9a9a;
}

.rotar{
    margin-top: 25%;
   
    font-size: 50px;
    text-shadow: 2px 2px 20px  #9b9a9a;
}