.headerPiscinas{
    background-color: rgb(57, 57, 116);
}
.titulo{
    font-size: 300%;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px;
   
}
.logopiscina{
    width: 30%;
    height: 30%;
    border-radius: 50%;
}
.logo22{
    border-radius: 50%;
    height: 10%;
    width: 10%;
}
.ubiciones{
    border-radius: 3%;
    border: 3px solid rgb(0, 0, 0);
}
.ubiciones2{
    border-radius: 3%;
    border: 3px solid rgb(0, 0, 0);
    width: 110%;
}
img{
    width: 65%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}
header>img {
 
    object-fit: cover;
    object-position: bottom;
}
.anclar{

    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #303134;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;

}
