.body{
    background-color: #242526;
}

th>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.anclar{

    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #303134;
    float: right;
    margin-bottom: 20px;
    margin-right: 20px;

}
.header2{
    position: fixed;
    width: 100%;
    background-color:#33006d ;
    color: white;
    z-index: 1;
    display: inline-block ;
}