.fondoSugerencias{
    background-color: rgb(104, 104, 104);
    color: #ffffff;
    width: 20%;
    height: 250px;
    
    border-radius: 2%;
    margin:0% auto;
    box-shadow: 2px 2px 20px 2px #000000;  
    display: block;
  
}
#centrar{
    text-align: start;
}